---
import CardTop from '../components/Card-top.astro';
import VanjsTest from '../components/Vanjs-test.astro';
import DrawerHeader from '../components/Drawer-header.astro';
import Hero from '../components/Hero.astro';
import { Image } from 'astro:assets';
import image1 from '../assets/index/foo-gaikan.png';
import image2 from '../assets/index/minaka.png';
import image3 from '../assets/index/kagosei.jpg';
// import image4 from '../assets/tokono-ma.jpg';
// import image6 from '../assets/facilities/hallway.jpg';

import '@fontsource/shippori-mincho';
import { ViewTransitions, fade, slide } from 'astro:transitions';
// import van from 'vanjs-core';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <meta name="generator" conYadoya-Fooo.generator} />
    <title>{'宿屋 ふう'}</title>
    <ViewTransitions />
  </head>

  <body transition:animate={fade({ duration: '1s' })}>
    <!-- <div id="vanjs" />
    <VanjsTest client:load />
  </div> -->
    <!-- <div style="margin-top: 100px; margin-bottom: 100px;"> -->
    <!-- <DrawerHeader client:load />
      <div></div> -->
    <Hero />
    <hero class="top-page">
      <!-- <Image class="photo-hero" src={image1} alt={`cottage`} quality="mid" />
        <h1 class="page-title">
          <p>小田原 風祭</p>髙橋別荘
        </h1> -->

      <div class="card-tops">
        <CardTop
          href="/about/"
          title="宿屋 ふう のご紹介"
          body="小田原のどこへでもアクセス可能な南町、観光名所かまぼこ通りのすぐそばにオープンしました"
          image={image1}
        />
        <CardTop
          href="/around/"
          title="近場のお楽しみ"
          body="徒歩5分内にたくさんの自然、そして美味しさあふれる老舗やカフェがお待ちしています"
          image={image3}
        />
        <CardTop
          href="/littleFar/"
          title="足をのばせば・・・"
          body="小田原駅へ徒歩10分、駅から箱根へのアクセスは自由自在、さらに漁港や石垣山など楽しさ満載の小田原です"
          image={image2}
        />
        <!-- <CardTop href="/around/" title="アクセス" body="周辺" image={image2} /> -->
      </div>
      <div class="operater">
        <p>©宿屋 ふう</p>
      </div>
    </hero>
    <style>
      html {
        font-family:
          Shippori Mincho,
          system-ui,
          sans-serif;
        background: #f0edea;
        color: rgb(29, 27, 27);
      }

      .top-page {
        display: grid;
        grid-template-columns: minmax(32px, 1fr) minmax(auto, 1120px) minmax(
            32px,
            1fr
          );
        row-gap: 20px;
        font-family: 'Shippori Mincho';

        /* @media (max-width: 496px) {
          grid-template-columns: minmax(18px, 1fr) minmax(auto, 1120px) minmax(
              1px,
              1fr
            ); */
        /* } */
      }

      .photo-hero {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .page-title {
        grid-column: 2 / -2;
        grid-row: 1 / 2;
        margin-right: auto;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
        writing-mode: vertical-rl;
        align-self: end;
        justify-self: start;
        background-color: rgba(220, 238, 220, 0.5);
      }

      .page-title > p {
        font-size: medium;
        margin: 0px;
      }

      p {
        grid-column: 3 / 2;
      }

      .card-tops {
        grid-column: 2 /-2;
        display: grid;
        gap: 20px;
      }

      .operater {
        grid-column: 1 / -1;
        display: grid;
        place-content: center;
        color: rgb(248, 245, 245);
        background-color: rgba(22, 8, 8, 0.726);
        width: 100%;
        height: 30px;
        margin-top: 20px;

        @media (max-width: 496px) {
          font-size: small;
        }
      }
    </style>
  </body>
</html>
