---
import Layout from '../layouts/Layout.astro';
import CardSub from '../components/Card-sub.astro';
import { Image } from 'astro:assets';
import '@fontsource/shippori-mincho';
import CardCarouselSvelte from '../components/CardCarouselSvelte.svelte';
import image1 from '../assets/littleFar/yumoto-hashi.jpg';
import image2 from '../assets/littleFar/ishigakiyama.jpg';
import image6 from '../assets/littleFar/minaka.jpg';
import image4 from '../assets/littleFar/odawara-eki.jpg';
import slide1 from '../assets/littleFar/gyokou.jpg';
import slide2 from '../assets/littleFar/sajirushi.jpg';
import slide3 from '../assets/littleFar/syokudou.jpg';
const slidesObjs = [{
  slide: slide1,
  alt: '小田原漁港'
},
{
  slide: slide2,
  alt: 'さじるし食堂'
},
{
  slide: slide3,
  alt: '食堂'
}]

---

<Layout title="足をのばせば">
  <hero class="page-subs">
    <Image class="photo-hero" src={image6} alt={`ミナカ小田原`} quality="mid" />
    <CardSub
      title="小田原駅"
      body="駅まで歩いて15分、新幹線含めて5路線に接続します。駅周辺はグルメもショップも盛り沢山に遊べます"
      image={image4}
    />
    <CardSub
      title="箱根湯本"
      body="有名すぎるこの箱根の入口まで小田原駅から登山鉄道で15分。「ふう」をベースに箱根観光も満喫できちゃいます"
      image={image1}
    />
    <CardSub
      title="石垣山"
      body="景色最高、こんな場所があったなんて！ヨロイヅカファームのアイスも忘れずに食べていってください"
      image={image2}
    />
    <div class="carousel">
      <CardCarouselSvelte
        client:load
        title="小田原漁港"
        body="漁港からあがった新鮮な地魚を食するならココ。個性的なお店がたくさんあって今日はドコにするか迷います"
        {slidesObjs}
      />
    </div>

    <style>
      .page-subs {
        display: grid;
        grid-template-columns: minmax(18px, 1fr) minmax(auto, 1120px) minmax(
            18px,
            1fr
          );
        row-gap: 20px;
        font-family: 'Shippori Mincho';

        > * {
          grid-column: 2 / -2;
        }

        .carousel {
          grid-column: 2 / -2;
        }

        > .photo-hero {
          grid-row: 1 / 2;
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
      }
    </style>
  </hero>
</Layout>
