---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  body: string;
  href: string;
  image: ImageMetadata;
}

const { href, title, body, image } = Astro.props;
---

<li class="link-card">
  <!-- <a href={href}> -->
  <div class="card-top">
    <h2>
      {title}
    </h2>
    <p>
      {body}
      <br /><br /><a href={href}> >>さらに詳しく</a>
    </p>

    <Image class="photo-card" src={image} alt={`cottage`} quality="mid" />
  </div>
  <!-- </a> -->
</li>

<style>
  .link-card {
    text-decoration: none;
    list-style: none;
  }

  .card-top {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    list-style: none;
    width: 100%;
    background-color: rgba(241, 229, 238, 0.8);

    @media (max-width: 496px) {
      display: block;
      /* grid-template-columns: repeat(1, 1fr); */
      /* grid-auto-flow: row; */
    }
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    list-style: none;
  }

  .photo-card {
    object-fit: cover;
    width: 100%;
    height: 300px;
    list-style: none;
    padding: 20px;

    @media (max-width: 496px) {
      grid-column: 3 / -1;
    }
  }

  a:hover {
    transition: 0.2s;
    opacity: 50%;
    text-decoration: none;
    list-style: none;
  }

  h2 {
    color: rgb(27, 25, 25);
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    align-self: flex-start;
    padding: 20px;

    @media (max-width: 496px) {
      font-size: 1rem;
    }
  }

  p {
    display: grid;
    justify-content: center;
    align-content: end;
    text-decoration: none;
    /* writing-mode: vertical-rl; */
    font-size: 1rem;
    color: rgb(27, 25, 25);

    @media (max-width: 496px) {
      font-size: 0.8rem;
      padding: 20px;
      padding-bottom: 0px;
    }
  }
</style>
